*{
    font-family: sans-serif;
    background-color: beige;
}
h1{
    text-align: center;
    padding-top: 1.5rem;
}
.btn{
    text-align: center;
}
.btn button{
    float:left;
    font-size: 25px;
    margin-top: 30rem;
    margin-left: 15px;
    padding: 15px 10px 15px 10px;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px;
    background-color: white;   
}
button:hover{
    background-color: rgb(167, 167, 227);
}
